.charity-list__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.charity-list__item {
    list-style-type: none;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.charity-list__details {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    margin-left: 20px;
    padding: 20px;
    justify-content: space-around;
}

.charity-list__detail-block {
    flex-grow: 1;
    align-content: center;
    max-width: 350px;
    min-width: 350px;
}

.charity-list__details .charity-list__detail-block:nth-child(2) {
    flex-grow: 2;
}

.charity-list__item div div:nth-child(4) {
    justify-content: flex-end;
}


.head {
    color: #636cff;
}

.bar {
    background: white;
    border: solid black 1px;
    width: 100%;
    height: 24px;
    padding-bottom: 0;
}

.easy {
    background: #2ecc71;
    height: 24px;
    width: 80%
}

.medium {
    background: #ffff00;
    height: 24px;
    width: 60%;
}

.hard {
    background: red;
    height: 24px;
    width: 10%;
}

.graph {
    width: 100%;
}

.donate-button {
    padding-top: 20px;
    text-align: center;

}
