.category-card-list__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category-card-list__item {
    list-style-type: none;
    padding: 16px;
}

.category-card-list__header {
    text-align: center;
    font-weight: normal;
    font-size: 2.5em;
    color: #433b57;
}

.category-card-list__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.category-card-list__item div div {
    text-align: center;
}
